.feature-card img{width: 100% ;object-fit: cover;}
.card-hover {
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.card-hover:hover img {
    transform: scale(1.09);
    transition: transform .2s;
}

/* Calendar */
.rbc-event.event-azure {
    background-color: var(--color-primary);
  }
  
  .rbc-event.event-primary {
    background-color: var(--color-primary);;
  }
  .rbc-event.event-default {
    background-color: var(--color-secondary);
  }
  .rbc-event.event-red {
    background-color: var(--color-error);;
  }
  .rbc-event.event-green {
    background-color: var(--color-success);
  }
  .rbc-event.event-warning {
    background-color:var(--color-warning);;
  }
  .rbc-off-range-bg {
    background: transparent !important;
  }
.rbc-today{
    background-color:var(--color-muted);
}
  .rbc-month-row + .rbc-month-row,
  .rbc-day-bg + .rbc-day-bg,
  .rbc-header,
  .rbc-month-view,
  .rbc-toolbar button,
  .rbc-time-content > * + * > * {
    border-color:var(--color-border) !important; 
  }
  .rbc-header{
    padding: 10px 3px !important;
  }
  .rbc-day-bg + .rbc-day-bg{
    border-left: 1px solid var(--color-border) !important; 
  }

  .rbc-event:focus,
  .rbc-day-slot .rbc-background-event:focus {
    outline: none;
  }
  .rbc-toolbar{
    margin-bottom: 30px !important;
  }

  .rbc-toolbar button{
    background-color: var(--color-muted) !important;
    border: 0 !important;
    padding: 10px 15px !important;
    font-size: 14px;
  }
  .rbc-toolbar button:focus{
    color: var(--color-primary) !important;
  }
  .rbc-toolbar button:active, .rbc-toolbar button.rbc-active{
    background-color: var(--color-lightprimary) !important;
    color: var(--color-primary) !important;
    box-shadow:none !important
  }
  .rbc-toolbar button:hover{
    color: var(--color-primary) !important;
}

.rbc-btn-group{
    border-radius: 30px !important;
    overflow: hidden;
    border-color:1px solid var(--color-border) !important; 
}
 
  .btn-primary {
    background-color: #2b2b2b;
  }
  .btn-secondary {
    background-color: #1a97f5;
  }
  
  @media (max-width: 767px) {
    .rbc-btn-group {
      width: 100%;
      text-align: center;
      margin-bottom: 15px;
    }
    .rbc-toolbar .rbc-toolbar-label {
      margin-bottom: 15px;
      display: block;
    }
    .rbc-calendar {
      height: 100vh !important;
    }
  }
  
  .rbc-calendar {
    min-height: 600px;
  }
  